.login_form {
    display: grid;
    width: 20em;
  }
  
  .login input {
    width: 20em;
  }
  
  .login__password-strength {
    width: max-content;
  }
  
  .login__error {
    color: red;
    font-weight: bold;
  }
  
  .login__error--hide {
    visibility: hidden;
  }
  
  .login__error--active {
    visibility: visible;
  }